.menu-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 1rem;
}

.menu-item h3 {
  margin: 0.5rem 0;
  font-size: 1.5rem;
  color: var(--primary-color);
}

.item-price {
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--secondary-color);
}
